<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container">
      <div class="row">
         <div class="col-md-12">
           <mat-accordion>
             <mat-expansion-panel>
               <mat-expansion-panel-header>
                 <mat-panel-title>Update Data</mat-panel-title>
               </mat-expansion-panel-header>
               <form>
                 <div class="row" *ngFor="let usr of newUser">
                   <div class="col-md-6">
                     <input type="text" class="form-control" disabled
                            placeholder="ID" name="id" [(ngModel)]="getUserId"><br>
                     <input type="text" class="form-control"
                            placeholder="First Name" name="firstName" [(ngModel)]="usr.firstName"><br>
                     <input type="text" class="form-control"
                            placeholder="Last Name" name="lastName" [(ngModel)]="usr.lastName"><br>
                     <input type="number" class="form-control"
                            placeholder="Age" name="age" [(ngModel)]="usr.age"><br>
                     <input type="text" class="form-control"
                            placeholder="Mobile" name="mobile" [(ngModel)]="usr.mobile"><br>
                     <input type="text" class="form-control" disabled
                            placeholder="Email" name="email" [(ngModel)]="usr.email"><br>

                   </div>
                   <div class="col-md-6">
                     <div class="row">
                       <div class="col-md-6" >
                         <img src="{{usr.imagePath}}" width="200px" alt="{{usr.firstName}}"><br>
                       </div>
                       <div class="col-md-6">
                         <label class="btn btn-primary btn-block mt-4">
                           Browse <input type="file" style="display: none;" (change)="uploadFile($event)">
                         </label>
                         <button class="btn btn-block btn-success" [disabled]="btnDisabled" (click)="updateImg()">Update Image</button>
                       </div>
                     </div>
                     <br>
                     <button mat-raised-button color="primary"
                             class="btn btn-block" (click)="updateDetails(usr)">Save</button>
                   </div>
                 </div>
               </form>
             </mat-expansion-panel>
           </mat-accordion>
         </div>


      </div>
    </div>
  </mat-expansion-panel>

</mat-accordion>

