.firstDiv{

  background-color: rgba(176, 176, 176, 0.16);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.secondDiv{

  background-color: rgba(176, 176, 176, 0.16);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.smallDiv1{

  background-color: rgba(176, 176, 176, 0.16);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.smallDiv2{

  background-color: rgba(176, 176, 176, 0.16);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

