<mat-accordion>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>

    </mat-expansion-panel-header>
    <mat-grid-list cols="2" rowHeight="400px" fxHide.xs>
      <mat-grid-tile class="firstDiv">
        <section >
          <mat-form-field>
            <input matInput placeholder="First name">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Email">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Mobile">
          </mat-form-field>
          <br>
          <mat-form-field>
      <textarea matInput name="address1" id="address1" placeholder="Address"
                cols="10" rows="1"></textarea>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary">Update</button>

        </section>

      </mat-grid-tile>

      <mat-grid-tile class="secondDiv">

      </mat-grid-tile>
    </mat-grid-list>
    <!--Smaller Displays-->
    <mat-grid-list cols="1" rowHeight="400px" fxShow.xs fxHide.gt-xs>
      <mat-grid-tile class="smallDiv1">
        <section >
          <mat-form-field>
            <input matInput placeholder="First name">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Email">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Mobile">
          </mat-form-field>
          <br>
          <mat-form-field>
      <textarea matInput name="address2" id="address2" placeholder="Address"
                cols="10" rows="1"></textarea>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary">Update</button>

        </section>

      </mat-grid-tile>

      <mat-grid-tile class="smallDiv2">
        <h1>2</h1>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>

</mat-accordion>
